<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="In.Amazon.Transformer"></listener>
	</listeners>
  <test  name="Test" >
	  <parameter name="Ishraq" value="crown"></parameter>
	   <groups><run>
		<include name="run"></include>
	</run></groups>
  <classes>
      <class name="In.Amazon.EnglishWillowBat"/>
    </classes>
   </test>
   <!-- Test -->
</suite> <!-- Suite -->
